<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        .background {background-color: lightblue}
    </style>
</head>
<body>
    <div class="background">

        <div class="text-center">
            <h1><span class="fa fa-user-o"></span> Node Login Authentication</h1>

            <p>Login, Sign Up, or Register with facebook:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Account Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Account Signup</a>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook Login</a>
        </div>

    </div>
</body>
</html>
